//Main Colors
//Base Colors
$bsMain: #1f2327;
$bsDark: #000500;
$bsLight: #373b3d;

//Text Colors
$primaryText: #d9d9d9;
$links: #ffffff;

//Accent colors
$accentClrPrime: #376996;
$accentClrLight: #568ec0;
$accentClrSec: #ab0000;

//transparent
$transMain: #000000df;
$transLight: #383838df;

//border color
$borderClrDefault: #515355;
