@use "../abstracts/colors" as clr;

@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin list-item {
  color: clr.$transLight;
  display: block;
  padding: 0.25em 0;
  font-weight: 600;
}
