.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
}

.shown {
  display: block;
}

.fixed-width {
  min-width: 13em;
}

.error {
  &:hover {
    background-color: rgb(182, 66, 66);
  }
  background-color: rgb(140, 0, 0);
}

.success {
  &:hover {
    background-color: rgb(82, 192, 82);
  }
  background-color: rgb(8, 105, 8);
}

.logo {
  width: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
