@use "../abstracts/colors" as clr;
@use "../abstracts/mixins" as mx;
@use "../abstracts/sizes" as sz;

//Mobile View
.sidebar {
  background-color: clr.$bsDark;
  position: fixed;
  height: 100vh;
  width: 80px;
  &__nav-list {
    @include mx.flex-center-col;
    align-items: flex-start;
    padding-left: 1em;
    gap: 2.5em;
    & .active {
      color: clr.$accentClrLight;
    }
  }
  &__nav-list-item {
    @include mx.flex-center-row;
    width: 100%;
    gap: 2em;
    justify-content: flex-start;
  }
  &__nav-list-item-title {
    display: none;
  }
  &__nav-list-item i {
    margin-bottom: 0;
  }
  &__logo {
    max-width: 199px;
    padding: 1em;
    margin-bottom: 3em;
  }
}

//Desktop View
@media screen and (min-width: sz.$BPDesktop) {
  .sidebar {
    width: 200px;
    &__nav-list-item-title {
      display: block;
    }
  }
}
