@use "../abstracts/mixins" as mx;
@use "../abstracts/sizes" as sz;
@use "../abstracts/colors" as clr;

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 9rem;
  padding: 1em 1em;
  &__profile-icon img {
    border-radius: 50%;
    max-width: 4.5em;
  }
  &__curr-page {
    font-weight: 100;
    font-size: 1.35rem;
  }
  &__profile {
    @include mx.flex-center-row;
    justify-content: center;
    gap: 0em;
    cursor: pointer;
  }
  &__profile i {
    margin: 0;
    font-size: 1rem;
    background-color: clr.$accentClrLight;
    padding: 0.45em;
    border-radius: sz.$borderRadiusRound;
  }
  &__logout-btn,
  &__profile i {
    display: none;
  }
  &__profile {
    display: flex;
  }
}

.mobile-home-header {
  position: absolute;
  z-index: 1;
  right: 1em;
  background-color: clr.$bsLight;
  padding: 1em 2em;
  border-radius: sz.$borderRadiusMed;
  border: 0.5px solid clr.$transMain;
  transition: all 150ms ease-in-out;
  transform: translateX(0);

  /*   &::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 17px solid clr.$bsLight;
    top: -15px;
    right: 30px;
    position: absolute;
    z-index: 2;
  } */
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__li {
    padding: 1em;
    cursor: pointer;
    &:hover {
      color: clr.$accentClrLight;
    }
    &--inactive {
      padding: 1em;
    }
  }
  &__ul i {
    margin: 0;
    margin-right: 0.55em;
  }
}

//Tablet
@media screen and (max-width: sz.$BPtablet) {
  .mobile-home-header {
    padding: 0.02em;
  }
}
//Desktop View
