@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;
@use "../abstracts/mixins" as mx;

.label {
  padding: 1em 0;
  margin: 0.5em calc(1em + 2.5vw);
  display: flex;
  justify-content: center;
  max-width: 10rem;
  border: 3px solid clr.$borderClrDefault;
  border-radius: sz.$borderRadiusHeavy;
  background-color: clr.$bsLight;
}
