@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;
@use "../abstracts/mixins" as mx;

.label {
  &__container {
    width: 100%;
  }
  width: 95%;
  padding: 1em 0;
  margin: 2em auto 0.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid clr.$borderClrDefault;
  border-radius: sz.$borderRadiusHeavy;
  background-color: clr.$bsLight;
  &--large {
    font-size: sz.$headingLrg;
    padding: 0.1em;
  }
}

//Mobile View
@media screen and (min-width: sz.$BPMobile) {
  .label {
    max-width: 10rem;
    margin: 2em 0 0.5em 0;
    &--large {
      font-size: sz.$headingSml;
      max-width: 100%;
      padding: 0.5em;
      justify-content: flex-start;
    }
  }
}
